
extends layout

block content


    div.container
        div.row
            div.col-xs-6
                form.form-search
                    div.input-append
                        input(type="text", data-bind="value: filterText, event:{change: resetPage", placeholder="Search").col-xs-5.input-medium.search-query
                        button(type="submit", aria-label="Left Align", data-bind="click:getContacts").btn.btn-primary
                            span(aria-hidden="true").icon-search.icon-left Search