body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
    color: red;
}

.dataRow{
    margin: 10px;
    padding: 5px;
}

.container div.dataRow:nth-child(2n+1){
    background-color: #bbbbbb;
}